html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;

    // hide scrollbar for Chrome
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }
    -ms-overflow-style: none; // hide scrollbar for IE & Edge
    scrollbar-width: none;  // hide scrollbar for Firefox
}

#app {
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    width: 100vw;
    height: 100vh;
}

.title {
    display: block;
    font: var(--font-title);
}

.subtitle {
    display: block;
    font: var(--font-subtitle);
}

.danger {
    color: var(--color-danger);
}

.link {
    cursor: pointer;
    text-decoration: underline;
    transition: color 250ms ease-in-out;

    &:hover {
        color: #61daff;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(var(--space-large));
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    opacity: 1 !important;
}
