// font definitions
@font-face {
    font-family: Roboto;
    src: url('~@/assets/fonts/Roboto.ttf');
}

@font-face {
    font-family: Roboto Bold;
    src: url('~@/assets/fonts/Roboto_Bold.ttf');
}

@font-face {
    font-family: Bebas Neu Bold;
    src: url('~@/assets/fonts/Bebas_Neu_Bold.woff2');
}

@font-face {
    font-family: Bitter;
    src: url('~@/assets/fonts/Bitter.woff2');
}

@font-face {
    font-family: Roboto Condensed;
    src: url('~@/assets/fonts/Roboto_Condensed.woff2');
}

// css variables (could have used SCSS here but got no time for re-writing them, CSS is doing the job nice)
:root {
    --color-light: #ffffff;
    --color-dark: #222222;
    --color-light-dark: #333333;
    --color-grey: #50555c;
    --color-danger: #e40613;
    --color-success: #6cd862;
    --color-progress: #ff8f4a;
    --font-title: normal normal 900 80px/85px 'Bebas Neu Bold';
    --font-subtitle: normal normal 900 24px/26px 'Bitter';
    --font-base: normal normal 900 15px 'Roboto Bold';
    --font-points: normal normal 400 20px 'Roboto';
    --font-points-bold: normal normal 400 20px 'Roboto Condensed';
    --font-button: normal normal 900 22px 'Roboto Condensed';
    --font-large: normal normal 900 35px 'Bitter';
    --space-x-large: 100px;
    --space-large: 40px;
    --space-base: 20px;
    --space-small: 10px;
    --space-tiny: 6px;
    --margin-card: 15px;
    --padding-button: 20px 35px;
    --padding-card: 22px 26px;
    --border-radius-base: 3px;
    --header-height: 63px;
}

@import '~/assets/style/breakpoints.scss';

// redefining variables for mobile
@media (max-width: $mobile-breakpoint) {
    :root {
        --font-title: normal normal 900 36px 'Bebas Neu Bold';
    }
}
