body {
  margin: 0;
}

#app {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
}

.title {
  display: block;
  font: var(--font-title);
  color: var(--color-light);
  text-transform: uppercase;
}

.subtitle {
  display: block;
  font: var(--font-subtitle);
  color: var(--color-light);
}
