@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-33mZGCoYag.ttf);
}

@font-face {
  font-family: Roboto Bold;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCoYag.ttf);
}

@font-face {
  font-family: Bebas Neu Bold;
  src: url(https://static-assets.strikinglycdn.com/fonts/bebasneue_bold-webfont.db0480ce584a47cfcc74435698c96cc5.woff2);
}

@font-face {
  font-family: Bitter;
  src: url(https://fonts.gstatic.com/s/bitter/v16/rax8HiqOu8IVPmn7f4xpLjpSmw.woff2);
}

@font-face {
  font-family: Roboto Condensed;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v19/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCQYb9lecyU.woff2);
}

:root {
  --color-light: #ffffff;
  --color-dark: #222222;
  --color-red: #e40613;
  --font-title: normal normal 900 80px/85px 'Bebas Neu Bold';
  --font-subtitle: normal normal 900 24px/26px 'Bitter';
  --font-button: normal normal 900 22px 'Roboto Condensed';
  --space-x-large: 100px;
  --space-large: 40px;
  --padding-button: 20px 35px;
}
